.container {
  height: 200vh; /* Asegúrate de que haya suficiente espacio de desplazamiento */
}

#scrollImage {
  width: 300px;
  height: auto;
  position: fixed;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: pink;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

article {
  margin-left: 324px;
  font-family: sans-serif;
  font-size: 32px;
}